name: lms CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Login
        uses: redhat/docker-login-action@v1
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend
        run: podman build -t ayush2114/lms-backend:latest -f Dockerfile.backend .
      - name: Push Backend Image
        run: podman push ayush2114/lms-backend:latest

      - name: Build and Push Frontend
        run: podman build -t ayush2114/lms-frontend:latest -f Dockerfile.frontend .
      - name: Push Frontend Image
        run: podman push ayush2114/lms-frontend:latest